* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 1000px;
  margin: auto;
  margin-top: 5px;
}
.header {
  background-color: rgb(116, 84, 73);
  padding: 10px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hero {
  background-image: url("./images/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-top: 3px;
  animation-name: slider;
  animation-duration: 50s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: wheat;
}

.hero h1 span {
  color: red;
}
.menubar {
}
.menubar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background-color: rgb(116, 84, 73);
  align-items: center;
}
.menubar ul li {
  padding: 17px 22px;
}
.menubar ul li:hover {
  background: #000;
}
.menubar ul li a {
  color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(205, 181, 174);
  padding: 50px 10px;
}

.menu div {
  background-color: rgb(205, 181, 174);
}
.menu div ul li {
  padding: 10px;
}
.menu div ul li:hover {
  background-color: rgb(154, 112, 98);
  padding: 10px;
  text-decoration: underline;
}
.menu div ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  min-height: 100px;
}

input[type="submit"] {
  background-color: #586573;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2b3c4f;
}
.copy {
  background-color: rgb(205, 181, 174);
  text-align: center;
  padding: 8px;
  color: rgb(72, 68, 68);
}
@keyframes slider {
  0% {
    background-image: url("./images/bg-1.jpg");
  }
  25% {
    background-image: url("./images/bg-2.jpg");
  }
  50% {
    background-image: url("./images/bg-3.jpg");
  }
  100% {
    background-image: url("./images/bg-4.jpg");
  }
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
  .menu {
    flex-direction: column;
    gap: 30px;
  }
  .menubar ul {
    flex-direction: column;
  }
  input[type="email"],
  textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
}
